/* hide the real widget */
.widget_npr_audio_widget {
    visibility: hidden;
    position: absolute;
    bottom:0;
    left:0;
}

#site-header {
	margin-bottom:0;
}
/*#audio_display {
    width: 100%;
    padding: 0 2.5%;
    background-color: #4a565f;
    box-sizing: border-box;
    z-index: 99999;
    position: absolute;
    left: 0;
}
#main-nav {
    margin-top: 80px;
    //margin-top: 140px;
}*/
#jp_container_1 {
	max-width:1170px;
	margin:0 auto;
}
#audio_display.fixed {
	position:fixed;
	bottom:0;
	left:0;
	z-index:999;
}
.block-nprap {
	background: #4a565f;
	min-height: 3em;
}
.jp-volume-bar {
	display:none!important;
}
#site-footer #player-bar .now-playing:hover {
	cursor:pointer;
}
@media only screen and (min-width:40.063em) {
	.block-nprap {
		min-height: 5.0001em;
	}
}
.block-nprap:before {
	content: "LOADING...";
	color: #FFF;
	line-height: 3em;
	position: absolute;
	text-align: center;
	width: 100%;
}
@media only screen and (min-width:40.063em) {
	.block-nprap:before {
		line-height: 5.0001em;
	}
}
#nprap-wrapper {
	z-index: 5;
	width: 100%;
	position: relative;
	margin: auto;
	color: #7f95a4;
}
.player-bar-wrapper {
	background: #4a565f;
	border-bottom: 1px solid #363d44;
}
.player-bar {
	background: transparent;
	border-left: 1px solid #363d44;
	border-right: 1px solid #363d44;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
	width: 100%;
	height: 3em;
	display: table;
	table-layout: fixed;
	overflow: visible;
    box-sizing: border-box;
}
@media only screen and (min-width:40.063em) {
	.player-bar {
		height: 5.0001em;
	}
}
.nprap-controls, .now-playing, .more-toggle {
	display: table-cell;
	padding-top: .2em;
	vertical-align: middle;
}
.now-playing {
	padding-left: 2%;
	width: 60%;
	border: 0;
	outline: 0;
}
@media only screen and (min-width:40.063em) {
	.now-playing {
		padding-top: 0.25em;
		padding-left: 0;
	}
}
@media only screen and (min-width:64.063em) {
	.now-playing {
		width: 75%;
	}
}
.now-playing .player-title-text:after {
	content: '\00B7';
	margin-right: 0.05em;
	margin-left: 0.25em;
}
.now-playing .stream-label {
	color: #e4ecf2;
	font-size: 80%;
	opacity: .7;
}
@media only screen and (min-width:40.063em) {
	.now-playing .stream-label {
		margin-top: 0.25em;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
	}
}
.expanded .now-playing .stream-label {
	margin-top: 0;
}
@media only screen and (min-width:40.063em) {
	#nprap-wrapper:not(.expanded) .stream-label {
		opacity: .75;
	}
}
.now-playing .program-name {
	color: #e4ecf2;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.4;
}
@media only screen and (min-width:40.063em) {
	.now-playing .program-name {
		font-size: 1.25em;
		font-weight: 300;
	}
}
@media only screen and (min-width:40.063em) {
	#nprap-wrapper:not(.expanded) .program-name {
		display: block;
	}
}
.expanded-player-outer-wrapper {
	background: #363d44;
	box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1);
}
.expanded-player-wrapper {
	height: 0;
	max-width: 62.5em;
	margin: 0 auto;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .4s ease .2s;
	transition: all .4s ease .2s;
	visibility: hidden;
}
.expanded .expanded-player-wrapper {
	height: auto;
	opacity: 1;
	visibility: visible;
}
.expanded-player-wrapper .stream-program-meta-view {
	display: none;
}
.program-next {
	color: #7f95a4;
	display: none;
	font-size: 75%;
	margin-top: 0.25em;
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
@media only screen and (min-width:40.063em) {
	.expanded .program-next {
		display: block;
		opacity: 1;
	}
}
.more-toggle {
	display:none;
	background: #363d44;
	border-left: 1px solid #363d44;
	font-size: .8em;
	height: 100%;
	opacity: .75;
	overflow: hidden;
	text-align: center;
	width: 15%;
}
.more-toggle span {
	display: none;
}
@media only screen and (min-width:768px) {
	.more-toggle {
		width: auto;
		display:table-cell;
	}
}
@media only screen and (min-width:40.063em) {
	.more-toggle span {
		display: inline;
	}
}
.more-toggle:hover {
	color: #e4ecf2;
	cursor: pointer;
}
.toggle-arrow {
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.expanded .toggle-arrow {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.toggle-arrow path {
	fill: #7f95a4;
}
.nprap-controls {
	padding-right: 1%;
	padding-left: 1%;
	text-align: center;
	width: 2.5em;
}
@media only screen and (min-width:40.063em) {
	.nprap-controls {
		width: 4.5em;
		padding-right: 2%;
		padding-left: 2%;
	}
}
@media only screen and (min-width:40.063em) {
	.no-touch .nprap-controls {
		width: 5em;
	}
}
.jp-stop {
	display: none;
}
.jp-state-playing .jp-stop {
	display: block;
}
.jp-state-playing .jp-play {
	display: none;
}
.player-btn:hover {
	cursor: pointer;
}
.btn-play circle, .btn-stop circle {
	fill: transparent;
	stroke: #7f95a4;
	stroke-width: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn-play path, .btn-play rect, .btn-stop path, .btn-stop rect {
	fill: #e4ecf2;
	stroke-width: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn-play:active circle, .btn-stop:active circle {
	fill: #e4ecf2;
	stroke-width: 1;
}
.btn-play:active path, .btn-play:active rect, .btn-stop:active path, .btn-stop:active rect {
	fill: #7f95a4;
}
@media only screen and (min-width:40.063em) {
	svg[class^="btn-"] {
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition: all 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67);
		transition: all 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67);
	}
	.expanded svg[class^="btn-"] {
		-ms-transform: scale(1.25);
		-webkit-transform: scale(1.25);
		transform: scale(1.25);
	}
}
.jp-state-seeking .jp-stop svg rect {
	-webkit-animation: pulsate 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
	animation: pulsate 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@-webkit-keyframes pulsate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes pulsate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}
.jp-stop svg .btn-load {
	display: none;
}
.jp-state-seeking .jp-stop svg .btn-load {
	display: block;
}
.change-volume {
	display: block;
}
.volume-container {
	display: inline-block;
}
.jp-mute svg, .jp-unmute svg {
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67);
	transition: all 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67);
}
#nprap-wrapper:not(.expanded) .jp-mute svg, #nprap-wrapper:not(.expanded) .jp-unmute svg {
	overflow: visible;
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.start-stop {
	float: left;
	overflow: visible;
}
@media only screen and (min-width:40.063em) {
	.no-touch .change-volume {
		display: block;
		margin: 1.55em 4em 1.55em 2em;
		float: right;
		position: relative;
		z-index: 10;
	}
}
.no-touch .volume-container {
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	overflow: hidden;
	position: absolute;
	-webkit-transition: all 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67) 0.2s;
	transition: all 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67) 0.2s;
	width: 40px;
	margin-top: 5px;
	right: 10px;
}
@media only screen and (min-width:40.063em) {
	.no-touch .volume-container {
		margin-top:-5px;
		right: auto;
	}
}
/*.no-touch .volume-container:hover {
	background: #1f2328;
	cursor: pointer;
	height: 8.5em;
}*/
.no-touch .jp-volume-bar {
	display: none;
	height: 5em;
	margin: 0.5em 0;
	overflow: hidden;
	position: absolute;
	top: 2em;
	width: 2em;
}
.no-touch .jp-volume-bar-value-bg, .no-touch .jp-volume-bar-value {
	/*background: #7f95a4;
	border-radius: 1px;*/
	bottom: 0;
	left: 0.75em;
	position: absolute;
	width: 0.5em;
}
.no-touch .jp-volume-bar-value-bg {
	height: 100%;
	opacity: .35;
}
.no-touch .jp-volume-bar-value {
	-webkit-transition: height 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67);
	transition: height 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67);
}
.volume-buttons {
	background: #363d44;
	border-radius: 50%;
	padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	-webkit-transition: all 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67) 0.2s;
	transition: all 0.1s cubic-bezier(0.17, 0.37, 0.43, 0.67) 0.2s;
}
.volume-buttons:hover {
	border-radius: 3px 3px 0 0;
	opacity: 1;
}
.no-touch .volume-container:hover .volume-buttons {
	border-radius: 3px 3px 0 0;
	opacity: 1;
}
.no-touch .volume-container:hover .volume-buttons svg path {
	fill: white;
}
.stream-song-meta-view {
	overflow: hidden;
	margin: 0 2em;
}
@media only screen and (min-width:40.063em) {
	.stream-song-meta-view .song-meta-view-inner {
		border-bottom: 1px solid #4a565f;
		overflow: hidden;
	}
}
.stream-song-meta-view .album-wrapper {
	margin: 1em auto 0;
	max-width: 100px;
	text-align: center;
}
.stream-song-meta-view .album-wrapper img.song-artwork {
	border: 5px solid rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}
@media only screen and (min-width:40.063em) {
	.stream-song-meta-view .album-wrapper {
		float: left;
		margin-right: 1em;
		margin-left: 1em;
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}
}
@media only screen and (min-width:64.063em) {
	.stream-song-meta-view .album-wrapper {
		margin-left: 0;
	}
}
.stream-song-meta-view .song-info-wrapper {
	overflow: hidden;
	padding: 1em 2%;
	text-align: center;
}
@media only screen and (min-width:40.063em) {
	.stream-song-meta-view .song-info-wrapper {
		padding: 1.125em 4% 1.25em 1%;
		text-align: left;
	}
}
.stream-song-meta-view .song-trackname {
	display: block;
	font-size: 1.5em;
	line-height: 1.25;
	margin-bottom: 0.25em;
}
@media only screen and (min-width:40.063em) {
	.stream-song-meta-view .song-trackname {
		font-size: 1.7em;
		line-height: 1.4;
		margin-bottom: 0;
	}
}
.stream-song-meta-view .song-artistname {
	display: block;
	margin-bottom: 0.5em;
}
@media only screen and (min-width:40.063em) {
	.stream-song-meta-view .song-artistname {
		font-size: 1.35em;
		line-height: 1.4;
		margin-bottom: 0;
	}
}
.stream-song-meta-view .song-collectionName {
	display: block;
	font-style: italic;
	opacity: .8;
}
@media only screen and (min-width:40.063em) {
	.stream-song-meta-view .song-collectionName {
		font-size: 1.1em;
		line-height: 1.4;
	}
}
.stream-song-meta-view span.label, .stream-song-meta-view ul.song-commerce {
	display: none;
}
.current-content {
	width: 100%;
}
@media only screen and (min-width:40.063em) {
	.current-content {
		display: inline-block;
		float: left;
	}
}
.current.program {
	font-size: 2em;
}
.streams-list {
	clear: both;
	overflow: hidden;
	list-style-type: none;
	margin: 0 auto;
}
@media only screen and (min-width:40.063em) {
	.streams-list {
		border-top: none;
	}
	.playing .streams-list, .expanded .streams-list {
		padding-left: 2%;
		padding-right: 2%;
	}
}
.streams-list li {
	border-top: 1px solid #4a565f;
	padding: 0 2% .5em;
	margin-bottom:0;
}
.streams-list li:hover {
	cursor: pointer;
	opacity:.9;
}
.streams-list li:first-child {
	border-top: 0;
}
@media only screen and (min-width:40.063em) {
	.streams-list li {
		border-top: 0;
		float: left;
		width: 33%;
		padding: 0.75em 2%;
		-webkit-transition: all .2s linear;
		transition: all .2s linear;
	}
}
@media only screen and (min-width:64.063em) {
	.streams-list li {
		width: 30%;
	}
}
.streams-list li {
	color: #7f95a4;
	font-size: 100%;
	text-decoration: none;
}
@media only screen and (min-width:40.063em) {
	.streams-list li {
		font-size: 85%;
	}
}
.streams-list li.current.playing a, .streams-list li.current.paused a {
	color: #e4ecf2;
}
.streams-list li.current.playing a {
	cursor: default;
}
a:focus.stream {
	outline: none;
}
.stream-name {
	overflow: hidden;
}
.stream-name .stream-label {
	color: #7f95a4;
	font-size: .85em;
	margin-top: 0.5em;
}
@media only screen and (min-width:40.063em) {
	.stream-name .stream-label {
		font-size: .9em;
		margin-top: 0;
	}
}
@media only screen and (max-width:768px) {
	#site-footer ul li.single-stream {
		margin-bottom:0;
	}
	#streams-wrapper .stream-label,
	#streams-wrapper .program-name {
		font-size: .8em;
		margin-top: 10px;
		display:inline-block;
	}
}
.playing .current.playing .stream-name .stream-label, .playing .current.paused .stream-name .stream-label, .now-playing .stream-name .stream-label {
	color: #e4ecf2;
}
.stream-name .program-name {
	color: #7f95a4;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.4;
}
@media only screen and (min-width:40.063em) {
	.stream-name .program-name {
		font-weight: 300;
	}
}
.playing .current.playing .stream-name .program-name, .playing .current.paused .stream-name .program-name, .now-playing .stream-name .program-name {
	color: #e4ecf2;
}
.stream-indicator {
	position: relative;
}
.stream-indicator {
	border-radius: 50%;
	float: left;
	height: 2.5em;
	margin-top: 0.5em;
	margin-right: 0.25em;
	width: 2.5em;
}
@media only screen and (min-width:40.063em) {
	.stream-indicator {
		margin-top: 0.25em;
		margin-right: 0.5em;
	}
}
@media only screen and (max-width:768px) {
	.stream-indicator {
		margin-top: 0;
		height: 2em;
    	width: 2em;
	}
}
.stream-inactive {
	width: 0;
	height: 0;
	border-top: .6em solid transparent;
	border-bottom: .6em solid transparent;
	border-left: 1em solid #7f95a4;
	position: absolute;
	top: .6em;
	left: .8em;
}
.current.playing .stream-inactive, .playing .current.paused .stream-inactive {
	display: none;
}
.stream-active {
	display: none;
}
.current.playing .stream-active, .playing .current.paused .stream-active {
	display: block;
}
.stream-activebar {
	background: #7f95a4;
	bottom: .5em;
	height: .1em;
	position: absolute;
	width: 3px;
	-webkit-animation: sound 1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite alternate;
	animation: sound 1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite alternate;
}
.jp-state-seeking .stream-activebar {
	height: .2em;
	border: 1px solid #fff;
	top: 50%;
	-webkit-animation: sound-loading 1s cubic-bezier(0.2, 0.2, 0.2, 0.2) infinite alternate;
	animation: sound-loading 1s cubic-bezier(0.2, 0.2, 0.2, 0.2) infinite alternate;
}
@-webkit-keyframes sound {
	0% {
		opacity: 0.5;
		height: 0.1em;
	}
	100% {
		opacity: 1.0;
		height: 1.0em;
	}
}
@keyframes sound {
	0% {
		opacity: 0.5;
		height: 0.1em;
	}
	100% {
		opacity: 1.0;
		height: 1.0em;
	}
}
@-webkit-keyframes sound-loading {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes sound-loading {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
.stream-activebar:nth-child(1) {
	left: .6em;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
}
.stream-activebar:nth-child(2) {
	left: .9em;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
}
.stream-activebar:nth-child(3) {
	left: 1.2em;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.stream-activebar:nth-child(4) {
	left: 1.5em;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}
#audio-ad-metadata {
	display: block;
	opacity: 0;
	margin: 1em;
	text-align: center;
	font-style: italic;
	font-weight: 300;
}
.playing #audio-ad-metadata {
	opacity: 1;
}
.ad-view {
	border: 0;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	max-width: 62.5em;
}
.ad-view .ad-wrapper.display-ad:not([style]) {
	border-top: 1px solid #4a565f;
	padding: 1em 0;
}
.pi-ajax-links-api-loading {
	background-image: url(/sites/all/modules/custom/pi_ajax_links_api/ajax_links_api_loading.gif);
	background-repeat: no-repeat;
	margin: 50px;
	padding: 30px;
	height: 11px;
	width: 16px;
}
#nprogress {
	pointer-events: none;
}
#nprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}
#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}
.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
	position: absolute;
}
@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.program-promo-content>.program {
	display: none;
}
.program-promo-content>.active-program {
	display: block;
}